<div class="archivedNotes">
<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Created</th>
      <th>Category</th>
      <th>Content</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each this}}
      <tr data-id={{id}}>
        <td><i class='fa-solid {{icon}}'></i></td>
        <td>{{name}}</td>
        <td>{{created}}</td>
        <td>{{categoryName}}</td>
        <td>{{content}}</td>
        <td data-type='restore'><i class="fa-solid fa-trash-can-arrow-up"></i></i></td>
      </tr>
    {{/each}}
  </tbody>
</table>
</div>